<%- include ('../../partials/header.ejs') %>
<body>
<%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>New Article</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/article">
                    <input class="form-control" type="text" name="title" placeholder="Set title">
                    <br>
                    <hr>
                    <label>Category</label>
                    <select name="category" class="form-control">
                        <% for (const category of categories) { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>
                    </select>
                    <hr>
                    <textarea class="form-control" name="content" id="article" rows="28"></textarea>
                    <br>
                    <button class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include ('../../partials/footer.ejs') %>
<script src="/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#article',
        plugins: [
            'advlist autolink lists link image charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code help wordcount'
        ]
    });
</script>