<%- include ('../../partials/header.ejs') %>
<body>
<%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edit Category</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/categories/<%= category.id %>/edit">
                    <input class="form-control" type="text" name="title" placeholder="Set title" value="<%= category.title %>">
                    <br>
                    <button class="btn btn-success">Edit</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include ('../../partials/footer.ejs') %>