<%- include ("../../partials/header.ejs") %>
<body>
    <%- include ("../../partials/navbar.ejs") %>
    <div class="container">
        <hr>
        <h2>Categories</h2>
        <a class="btn btn-success" href="/admin/categories/new">Create</a>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <% if(!categories || categories.length < 1) {%>

            <tbody>
                <tr>
                    <td colspan="3">Nenhuma categoria cadastrada</td>
                </tr>
            </tbody>
            <% } %>
            <tbody>
            <% for (const category of categories) {%>
                    <tr>
                        <td><%= category.title %></td>
                        <td><%= category.slug %></td>
                        <td>
                            <a href="/categories/<%= category.id %>" class="btn btn-warning">Edit</a>
                            <form method="POST" action="/categories/<%= category.id %>" style="display: inline" onsubmit="confirmDelete(event, this)">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
            <% } %>
            </tbody>
        </table>

    </div>
</body>

<%- include ("../../partials/header.ejs") %>
<script>
    const confirmDelete = (event, form) => {
        event.preventDefault();
        const choice = confirm("Are you sure you want to delete this category?");
        if (choice) {
            form.submit();
        }
    }
</script>